awsebcli==3.10.3
blessed==1.14.2
cement==2.8.2
certifi==2016.2.28
colorama==0.3.7
Django==2.0
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
pathspec==0.5.0
pytz==2017.3
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
tabulate==0.7.5
termcolor==1.1.0
wcwidth==0.1.7
websocket-client==0.44.0
